/*

@package goa-theme

*/

.goa-theme-general-form,
.goa-theme-sidebar-preview {
	display: inline-block; float: left;
}

.goa-theme-sidebar-preview {
	width: 280px;
	background-color: #1F1F1F;
	padding: 20px;
	text-align: center;
	margin-right: 20px;
}

.goa-theme-sidebar {
	display: block;
	text-align: center;
}

h1.goa-theme-username,
h2.goa-theme-description {
	font-weight: 100;
	color: #fff;
}

h1.goa-theme-username {
	font-size: 24px;
	margin: 0 0 10px;
}

h2.goa-theme-description {
	font-size: 13px;
	margin: 0 0 20px;
}